/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

.leak img {
  max-height: 450px;
}

.long img {
  max-height: 250px;
}

.deck-container code, .deck-container .slide .CodeMirror-scroll {
  font-size: 36px;
  line-height: 50px;
}
